body {
    background-color: grey;
    display: flex;
    flex-wrap: wrap; /* agar place hai to left side warna down side */
    justify-content: center;
}

.card {
    background-color: white;
    height: 544px;
    width: 294px;
    margin: 50px 57px;
    border-radius: 10px;
}

.image {
    padding: 15px;
    border-radius: 10px;
}

.image img {
    border-radius: 10px;
}

.caption span {
    background-color: rgb(235, 226, 226);
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 15px;
    margin: 10px;
}
h2{
    padding: 0px 13px;
}
p{
    color: rgb(110, 106, 106);
    padding: 0px 13px;
}
button{
    background-color: rgb(228, 234, 236);
    padding: 8px 30px;
    font-size: 12px;
    display: block;
    margin: 0 auto; 
    border: none;
    border-radius: 10px;
    color: rgb(54, 9, 128)
}
button:hover{
    background-color: rgb(144, 144, 163);
}