body{
    margin: 0;
    padding: 0;

}
nav ul{
    display: flex;
    justify-content: center;

}

li{
    list-style: none;
    margin: 10px;
}
main{
    align-content: center;
    text-align: center;
}
button{
    background-color: rgba(15, 15, 212, 0.589);
    font-size: 11px;
    color: white;
    padding: 10px;
    border: none;

}