body{
    margin: 0;
    padding: 0;

}

nav{
    height: 50px;
    background-color: yellow;
}
footer{
    bottom: 0;
    height: 50px;
    background-color: yellow;
}

.container{
    height: 244px;
    background-color: grey;
    margin: 2% 1%;
    display: flex;
    
}
.box1{
    background-color: blue;
    margin: 10px 10px;
    width: 50%;
}
.box2{
    background-color: blue;
    margin: 10px 10px;
    width: 50%;
}