:root{
    --bgcolor:grey;
    --navBgColor :rgb(100, 86, 86);
    --textColor :white;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bgcolor);
    
}
nav ul{
    margin: 0;
    display: flex;
    background-color: var(--navBgColor);
    justify-content: center;
}
ul li{
    list-style: none;
    margin: 10px 10px;
    color: var(--textColor);
    font-size: 20px;
}
li:hover{
    /* background-color: rgba(87, 72, 72, 0.753); */
    cursor: pointer;
    /* border-radius: 10px; */
    padding: 5px 10px;
    text-decoration: underline;
    text-decoration-color:rgba(133, 5, 5, 0.753);
    text-decoration-style: solid;
    /* text-decoration-thickness: 5px; */
    text-underline-offset: 10px; /* underline spacing */
}