:root{
    --bgcolor :rgba(15, 15, 15, 0.719);
    --bodyBgColor : black;
    --color : white;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--bodyBgColor);

}
.main{
    display: flex;
    /* gap: 0.5rem; */
}
.left{
    height: 100vh;
    position: relative;
    width: 30%;
    background-color: var(--bgcolor);
    border-right: 10px solid var(--bgcolor);
}
.right{
    position: relative;
    height: 100vh;
    width: 70%;
    background-color: var(--bgcolor);
}
nav{
    color: white;
    width: 100%;
    height: 3rem;
    position: absolute;
    color: var(--color);
    background-color: var(--bgcolor);
}
footer {
    position: absolute;
    background-color: var(--bgcolor);
    color: var(--color);
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    /* justify-content: center; */
    /* align-content: center; */
    /* width: 250px; */
    /* height: 30vh; */
}
footer div {
    width: 170px;
    line-height: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    border-radius: 1rem;
    /* justify-content: center; */
    /* text-align: center; */
    /* align-content: center; */
    /* margin: 0px 1px; */
}
footer div h1{
    font-size: 15px;
}

